.table-select-time {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-top: 40px;

	&__list {
		width: 1091px;
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 112px;
		width: 160px;
		margin-right: 25px;
		margin-bottom: 20px;
		font-family: $font-lato;
		font-size: 34px;
		color: $header-text;
		background: $main-color;
		border-radius: 10px;
		cursor: pointer;
		user-select: none;

		&_opacity {
			opacity: .5;
		}

		&:after {
			position: absolute;
			top: 48%;
			right: -14px;
			z-index: -1;
			width: 187px;
			height: 4px;	
			background: #cacaca;
			transform: rotate(34deg);
			content: "";
		}

		&:nth-child(6n) {
			margin-right: 0;
		}

		&:nth-child(n+19) {
			margin-bottom: 0;
		}

		&_booked {
			background: $table-item_active;

			&:after {
				display: none;
			}
		}
      
      &_active {
        background: $btn-color--lighten;
        
        &:after {
		  display: none;
		}
      }
	}

	&__number {
      position: absolute;
      top: -6px;
      right: -6px;
      padding: 3px 10px;
      background: #e0e0e0;
      border-radius: 14px;
      font-size: 26px;
      color: #606060;

      &_opacity {
      	opacity: .5;
      }
	}
}