.btn {
  display: inline-block;
  padding: 58px 221px;
  font-size: 40px;
  font-weight: 800;
  line-height: 20px;
  color: $btn-color-text;
  text-align: center;
  text-decoration: none;
  background: $main-color--dark;
  border-radius: 67px;
  
  &--size-l {
    padding: 88px 244px;
    font-size: 44px;
    line-height: 24px;
    border-radius: 100px;
  }
  
  &--padding-s {
    margin-top: 40px;
    padding: 88px 209px;
  }

  &_active {
    background: $btn-color;
  }
}

.btn-back {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $main-color--dark;
  border-radius: 100%;
  fill: #4f4f4f;
  
  &__icon {
    width: 26px;
    height: 39px;
  }

  &_active {
    background: $btn-color;
  }
}