.btn {
  display: inline-block;
  padding: 70px 273px;
  font-size: 40px;
  font-weight: 800;
  line-height: 20px;
  color: $btn-color-text;
  text-align: center;
  text-decoration: none;
  background: $main-color--dark;
  border-radius: 80px;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s cubic-bezier(.09, 1.17, .51, .98);
  
  &_big {
    padding: 88px 244px;
    font-size: 44px;
    line-height: 24px;
    border-radius: 100px;
  }
  
  &_padding_s {
    margin-top: 40px;
    padding: 88px 209px;
  }

  &_padding_xs {
    padding: 70px 195px;
  }
  
  &_padding_md {
    padding: 70px 265px;
  }
  
   &_padding_xl {
    padding: 70px 311px;
  }

  &_active {
    background: $btn-color;
    box-shadow: -3px 12px #C59801;

    &:hover {
      background: #FFDD21;
    }

    &:active {
      box-shadow: 0px 0px 0px 0px;
      transform: translate(0px, 12px);
      outline: none !important;
    }
  }

  &:focus,
  &:active,
  &:hover {
    outline: none !important;
  }
}

.btn-back {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $main-color--dark;
  border-radius: 100%;
  fill: #4f4f4f;
  cursor: pointer;
  user-select: none;
  
  &__icon {
    width: 26px;
    height: 39px;
  }

  &_active {
    background: $btn-color;
  }
}