.confirm {

  &__title {
    width: 100%;
    margin-top: 185px;
    font-size: 72px;
    font-weight: 700;
    color: $btn-color-text;
    text-align: center;
  }
  
  &__list {
    margin-top: 58px;
    margin-left: 570px;
    padding: 0;
    list-style: none;
  }
  
  &__item {
    position: relative;
    padding-left: 89px;
    font-size: 42px;
    font-weight: 600;
    line-height: 80px;
    color: $color-text;
  }
    
  &__icon {
    position: absolute;
    left: 0;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: $btn-color;
    border-radius: 100%;
  }
    
  &__icon-mark {
    position: absolute;
    width: 20px;
    height: 20px;
    fill: #fff;
  }
}
