.footer {
  
  &__wrapper {
    display: flex;
    justify-content: center;
  }
  
  &__btn {
    margin-top: 100px;
    margin-right: 150px;

    &_margin_40 {
      margin-top: 40px;
    }

    &_margin_60 {
      margin-top: 60px;
    }
    
    &_margin_0 {
      margin-right: 0;
    }
  }
  
  &__btn-back {
    width: 96px;
    height: 96px;
    margin-top: 135px;
    margin-right: 32px;
    margin-left: 28px;

    &_margin_80 {
      margin-top: 80px;
    }

    &_margin_100 {
      margin-top: 100px;
    }
  }
  
  &__text {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5em;
    color: $color-text;
    text-align: center;
    user-select: none;
    
    &_regular {
      margin-top: 40px;
      font-weight: 400;
    }

    &_display_none {
      display: none;
    }
    
    &_dark {
      color: $btn-color-text;
    }
  }
  
  &__text-icon {
    position: absolute;
    top: 6px;
    left: 520px;
    width: 48px;
    height: 48px;
    fill: $main-color--dark;
  }
  
  &__text-icon_left_503 {
    left: 503px;
  }
  
  &__text-icon_left_650 {
    left: 650px;
  }
  
  &__text-icon_left_600 {
    top: -8px;
    left: 600px;
  }

  &__link {
    display: block;
    margin-top: 25px;
    padding-top: 25px;
    text-transform: uppercase;
    text-decoration: none;
    user-select: none;
  }
}