$main-color: #f6f6f6;
$main-color--dark: #e8e8e8;
$btn-color: #ffcd11;
$btn-color--lighten: #fff3c7;
$btn-color-text: #4f4f4f;
$header-text: #acacac;
$color-text: #888;
$font-size--h2: 66px;
$content-color--active: #fff3c7;
$table-item_active: #b1e0dd;
$font-lato: 'Lato', 'Arial', sans-serif;
