.circle-progress {
  fill: none;
  stroke-width: 9;
  width: 74px;
  height: 74px;
  transform: rotate(-90deg);
 
  &__background {
    stroke: #ffde61;
  }

  &__sector {
    stroke: #f1f1f1;
    stroke-dasharray: 188;
    stroke-dashoffset: 160;
    transition: all 1s;
  }
}