.input-caret {
  position: relative;
  display: flex;
  width: 820px;
  height: 100px;
  padding: 5px 70px 5px 5px;
  border-bottom: 6px solid #000;
  overflow: hidden;

  &__input {
	appearance: none;
    
	.js & {
      position: absolute;
      left: -100vw;
	 }
  }

  &__span {
    display: none;
    align-items: center;
    max-width: 80%;
    border: 0;
    font-size: 88px;
    font-weight: 600;
    line-height: 60px;
    background-color: #e4e4e4;
    border-right: 3px solid transparent;
    
	.js & {
		display: flex;
	}
    
   .input-caret__input:focus ~ & {
     animation: pulseAttention 1.5s cubic-bezier(.215, .61, .355, 1) forwards infinite;
    }
}

  &__label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 88px;
    font-weight: 600;
    line-height: 60px;
  }
    
  &__input:not([value=""]) ~ & {
    right: -100000px;
  }
}  

@keyframes pulseAttention {
    50% {
        border-color: orange;
    }
}