.input-caret {
  position: relative;
  display: inline-flex;
  width: 820px;
  height: 100px;
  margin-right: 80px;
  margin-left: 100px;
  padding-bottom: 20px;
  font-size: 88px;
  font-weight: 600;
  line-height: 60px;
  color: $color-text;
  text-align: center;
  border-bottom: 6px solid $main-color;
  overflow: hidden;

  &:nth-child(2) {
    margin-left: 0;
  }

  &__input {
	appearance: none;
    
	.js & {
      position: absolute;
      left: -100vw;
	 }
  }

  &__span {
    display: none;
    align-items: center;
    max-width: 80%;
    border: 0;
    font-size: 88px;
    font-weight: 600;
    line-height: 60px;
    background-color: #e4e4e4;
    border-right: 6px solid $btn-color;
    border-radius: 3px;
    
	  .js & {
		  display: flex;
	  }
  }
    
  .input-caret__input:focus ~ & {
    animation: pulseAttention 1.5s cubic-bezier(.215, .61, .355, 1) forwards infinite;
  }

  &__label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 88px;
    font-weight: 600;
    line-height: 60px;
  }
    
  &__input:not([value=""]) ~ & {
    right: -100000px;
  }
  
  &__icon-erase {
    position: absolute;
    top: 50px;
    right: 0;
    fill: $color-text;
    width: 54px;
    height: 38px;
    cursor: pointer;
  }
  
  &__icon-cross {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 19px;
    height: 18px;
    fill: #fff;
  }
}  

@keyframes pulseAttention {
    50% {
        border-color: orange;
    }
}