.content {
  
  
  &__title {
    margin-top: 50px;
    font-size: $font-size--h2;
    font-weight: 700;
    color: $btn-color-text;
    text-align: center;
  }
  
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
  }

  
  &__item {
    width: 320px;
    height: 320px;
    box-sizing: border-box;
    margin-right: 63px;
    padding: 70px 86.5px;
    color: $color-text;
    text-align: center;
    background: $main-color;
    border-radius: 10px;
    cursor: pointer;
    
    &:last-child {
      margin-right: 0;
    }
    
    &_active {
      background: $content-color--active;
    }
  }
  
  &__item_padding_none {
    padding: 0;
  }
  
  &__item-number {
    font-size: 80px;
    line-height: 70px;
  }
  
  &__item-mounth {
    font-size: 36px;
    line-height: 90px;
  }
  
  &__item-day {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
  }
  
  &__img-child {
    margin-top: 58px;
    margin-bottom: 15px;
    margin-left: 119px;
    fill: $color-text;
  }
  
  &__img-man {
    margin-top: 73px;
    margin-left: 100px;
    fill: $color-text;
  }
  
  &__item-text {
    margin-top: 20px;
    font-size: 36px;
  }
  
  &__item-description {
    margin-top: 35px;
    font-size: 18px;
  }
  
  &__wrapper {
    margin-top: 44px;
  }

  &__numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    list-style: none;
    
    &:last-child {
      margin: 0;
    }
  }
  
  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    margin-right: 32px;
    font-size: 40px;
    color: $color-text;
    background: $main-color;
    border-radius: 100%;
    cursor: pointer;
    
    &:active {
      color: #c3bda7;
      background: $content-color--active;
    }
    
    &:last-child {
      margin-right: 0;
    }
  }
}